{% extends "layout.html" %}

{% block title %}
    Past
{% endblock %}

{% block main %}
    <div class="section">
        <table class="pasttab">
            <h2><b>Donations</b></h2>
            <thead>
                <tr>
                    <h2>{{ event }}</h2>
                    <b><h6>{{ date }}</h6></b>
                </tr>
                <tr>
                    <th>No:</th>
                    <th>Name:</th>
                    <th>Reference:</th>
                    <th>(৳)Amount</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% if dows %}
                    {% for dows in dows %}
                            <tr>
                                <td>{{ dows.don_id }}</td>
                                <td>{{ dows.name }}</td>
                                <td>{{ dows.reference }}</td>
                                <td>{{ dows.amount }}</td>
                            </tr>
                    {% endfor %}
                {% endif %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% if donations %}
                        <td><b>{{ donations }}</b></td>
                        {% endif %}
                    </tr>
            </tbody>
        </table>
    </div>

    <div class="section">
        <table class="pasttab">
            <h2><b>Expenses</b></h2>
            <thead>
                <tr>
                    <h2>{{ event }}</h2>
                    <b><h6>{{ date }}</h6></b>
                </tr>
                <tr>
                    <th>No:</th>
                    <th>Item:</th>
                    <th>Qty:</th>
                    <th>(৳)Cost</th>
                    <th>(৳)Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% if rows %}
                    {% for rows in rows %}
                        <tr>
                            <td>{{ rows.id }}</td>
                            <td>{{ rows.item }}</td>
                            <td>{{ rows.qty }}</td>
                            <td>{{ rows.cost }}</td>
                            <td>{{ rows.amount }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% if total %}
                        <td><b>{{ total }}</b></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
