{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <label for="username">New username: </label><br>
            <input required autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <label for="umi">Unique Member Idenifier: </label><br>
            <input required class="form-control" name="umi" placeholder="UMI" type="number">
        </div>
        <div class="form-group">
            <label for="password">Password: </label><br>
            <input required class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input required class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}